@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Horizon;
  src: url("./assets/fonts/horizon.otf") format("opentype");
}
@font-face {
  font-family: Horizon-Outlined;
  src: url("./assets/fonts/horizon_outlined.otf") format("opentype");
}
